<p style="color: green"><%= notice %></p>

<% content_for :title, "Articles" %>

<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <h3>Artikel:</h3>
    <div class="bg-white p-2 mb-4 border">
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
    </div>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
