<h2>Enum Beispiel</h2>

<section>
  Wir haben einen Article der verschiedene Status haben kann: draft, pulished, archived, deletet.
  Diese Status kann man sehr gut als enum implementieren.
</section>



<div class="mt-10">
<%= link_to 'Artikel index', articles_path %>
</div>
