<% content_for :title, "New image example" %>

<h1>New image example</h1>

<%= render "form", image_example: @image_example %>

<br>

<div>
  <%= link_to "Back to image examples", image_examples_path %>
</div>
