<p style="color: green"><%= notice %></p>

<% content_for :title, "users" %>

<h1>Users</h1>

<div id="user">

  <% @users.each do |user| %>

  <div class="bg-white p-2 mb-2">

    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  </div>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
