<h1>strip_tags</h1>
<code>
  <pre>&lt;%= strip_tags @data %&gt;</pre>
</code>

<div class="mt-10">
  <h2>mit strip_tags</h2>
  <div>
    <%= strip_tags @data %>
  </div>


  <h2>ohne strip_tags</h2>
  <div>
    <%= @data %>
  </div>
</div>
