<h1>LogTest</h1>

<ul>
  <li>
    <%= button_to 'log test', log_test_log_path, method: :post %> <pre>Rails.logger.info 'Dies ist ein logging test 123!'</pre>
  </li>
</ul>

<section>
  <p class="font-bold">Log levels</p>
  <ul>
    <li>Debug</li>
    <li>Info</li>
    <li>Warn</li>
    <li>Error</li>
    <li>Fatal (app crash)</li>
    <li>Unknown</li>
  </ul>


</section>


