<h1>Truncate</h1>
<code>
  <pre>&lt;%= truncate @data, length: 50 %&gt;</pre>
</code>

<h2>truncate 20</h2>
<%= truncate @data, length: 20 %>


<h2>truncate 50</h2>
<%= truncate @data, length: 50 %>

<h2>truncate 200</h2>
<%= truncate @data, length: 200 %>


<h2>no truncate</h2>
<%= @data %>

