<h1>Authenticate and CanCanCan</h1>

<h2>Authentifizierung</h2>
<p>Die Authentifizierung (Benutzeridentifizierung) erfolgt mit dem authenticate Feature aus Rails 8</p>
<section>
  <pre>bin/rails generate authentication</pre>
  migrieren
  <p>Standardmäßg erfordern alle Seiten einen Login</p>
  <p>Seiten, die ohne Autorisierung zugänglich sein sollen, bekommen: ```allow_unauthenticated_access``` im Controller</p>
  <p>Der angemeldete User ist als ```Current.user``` verfügbar. (Nur wenn authorisiert) </p>
  <p>Der Helper ```authenticated?``` steht in der View zur Verfügung</p>
</section>

<h2>Autorisierung</h2>
<p>Die Autorisierung, (also: "Wer darf Was?"), erfolgt mit CanCanCan.</p>
<section>
  <pre>gem 'cancancan'
bundle install
rails generate cancan:ability</pre>

</section>

<h2>Beispiele</h2>
<h3>Admin Dashboard</h3>
<section>Nur ein Admin kann auf das Admin Dashboard zugreifen:
  <br><%= link_to 'Admin Dashboard', admin_dashboard_path %>
</section>


<h2>Users</h2>
wir brauchen auch ein paar user
<section>
  <%= link_to 'users', users_path %>
</section>

