<% content_for :title, "Editing wolpertinger" %>

<h1>Editing wolpertinger</h1>

<%= render "form", wolpertinger: @wolpertinger %>

<br>

<div>
  <%= link_to "Show this wolpertinger", @wolpertinger %> |
  <%= link_to "Back to wolpertingers", wolpertingers_path %>
</div>
