<p style="color: green"><%= notice %></p>

<% content_for :title, "Wolpertingers" %>

<h1>Wolpertingers</h1>

<div id="wolpertingers">
  <% @wolpertingers.each do |wolpertinger| %>
    <%= render wolpertinger %>
    <p>
      <%= link_to "Show this wolpertinger", wolpertinger %>
    </p>
  <% end %>
</div>

<%= link_to "New wolpertinger", new_wolpertinger_path %>
