<% content_for :title, "New wolpertinger" %>

<h1>New wolpertinger</h1>

<%= render "form", wolpertinger: @wolpertinger %>

<br>

<div>
  <%= link_to "Back to wolpertingers", wolpertingers_path %>
</div>
