@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl mt-2 mb-4 font-bold;
    }
    h2 {
        @apply text-3xl mt-2 mb-3 font-bold;
    }

    h3 {
        @apply text-2xl mt-2 mb-2 font-bold;
    }

    h4{
        @apply text-xl mt-2 mb-2 ;
    }

    p{
        @apply my-2;
    }
    td, th{
        @apply p-2;
    }
    td{
        @apply border border-gray-300;
    }
    pre{
        @apply p-4 m-2 bg-yellow-50 border rounded-md;
    }

    input[type=submit], input[type=button], button {
        @apply bg-lime-700 hover:bg-lime-900 text-white my-4 p-2 rounded-lg border ;
    }

    a{
        @apply underline;
    }

    input[type=number],  input[type=text]{
        @apply border border-gray-500;
    }

    .field_with_errors{
        @apply border border-red-500;
    }

}
