<h1>Testing</h1>
<p>As a demo object for Testing we have a class "Wolpertinger".</p>

<p><%= link_to 'Edit some Wolpertinger', wolpertingers_path %></p>

<table class="border-2">
  <tr class="border-2"><td class="p-2 font-bold">Wolpertinger</td></tr>
  <tr class="border-2"><td  class="p-2"> - name:string</td></tr>
  <tr class="border-2"><td  class="p-2"> - state:string</td></tr>
  <tr class="border-2"><td  class="p-2"> - is_walking:boolean</td></tr>
  <tr class="border-2"><td  class="p-2"> - mood:string</td></tr>
  <tr class="border-2"><td  class="p-2"> - age:number</td></tr>
  <tr class="border-2"><td  class="p-2"> ----------- </td></tr>
  <tr class="border-2"><td  class="p-2"> bark() </td></tr>
  <tr class="border-2"><td  class="p-2"> asleep() </td></tr>
  <tr class="border-2"><td  class="p-2"> awake() </td></tr>
  <tr class="border-2"><td  class="p-2"> walk() </td></tr>
  <tr class="border-2"><td  class="p-2"> stopwalk() </td></tr>
</table>
